<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="/conf/spring-dao.xml" />
	<import resource="/conf/spring-service.xml" />
	<import resource="/conf/spring-security.xml" />	
	
 	<bean id="messageLoader" class="accountpro.util.MessageLoader">
		<property name="messages">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basename">
					<value>errormessages</value>
				</property>
			</bean>
		</property>
	</bean>

</beans>
