.tblParent   {width:100%;background-Color:#D4D0C9;border-style: groove}

.colName	{width:40%;;background-Color:#D4D0C9;border:1px solid ;}
.colDelete	{width:5%;;background-Color:#D4D0C9;border:1px solid ;}
.colOpen	{width:5%;;background-Color:#D4D0C9;border:1px solid ;}

.col1	 	{width:25%;;background-Color:#D4D0C9;border:1px solid ;}
.col2	 	{width:25%;;background-Color:#D4D0C9;border:1px solid ;}
.col3	 	{width:25%;;background-Color:#D4D0C9;border:1px solid ;}
.col4	 	{width:10%;height:10%;background-Color:#D4D0C9;border:1px solid ;}
.col5	 	{width:10%;height:10%;background-Color:#D4D0C9;border:1px solid ;}
.col6	 	{width:5%;height:5%;background-Color:#D4D0C9;border:1px solid ;}

