<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans >
       
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   		  	<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
 	</bean>

<!-- 
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/accountpro" />
		<property name="username" value="shukla81" />
		<property name="password" value="shanker11" />
 	</bean>
 -->

<!-- Base Bean defintions for all the DAO which inject the appropriate datasource -->
<!--
 	<bean id="loginDao" class="accountpro.dao.impl.LoginDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerDao" class="accountpro.dao.impl.CustomerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<bean id="policyDao" class="accountpro.dao.impl.PolicyDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="balanceDao" class="accountpro.dao.impl.BalanceDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="paymentDao" class="accountpro.dao.impl.PaymentDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 
-->

 
 </beans>
