<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- the DataSource (parameterized for configuration via a PropertyPlaceHolderConfigurer) -->

<!-- <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/AccountPro"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
 		<property name="url" value="jdbc:mysql://accountpro.cqoauszdwpu6.us-east-1.rds.amazonaws.com:3306/accountpro"/> 
        <property name="url" value="jdbc:mysql://localhost:3306/accountpro"/> 
-->

<!-- 	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	<property name="jdbcUrl" value="jdbc:mysql://ec2-23-20-51-20.compute-1.amazonaws.com:3306/accountpro"/>
	<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/accountpro"/>
	<property name="user" value="shukla81"/>
	<property name="password" value="shanker11"/>	
	
	<property name="initialPoolSize" value="5"></property>
	<property name="minPoolSize" value="5"></property>
	<property name="maxPoolSize" value="15"/>
	<property name="checkoutTimeout" value="1000"/> 
	<property name="maxStatements" value="50"></property>
	<property name="automaticTestTable" value="test"></property>
	<property name="testConnectionOnCheckin" value="true"></property>
	<property name="idleConnectionTestPeriod" value="60"></property>         -->
 
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://localhost:3306/accountpro" />
	<property name="username" value="shukla81" />
	<property name="password" value="shanker11" />
 </bean>

	<!-- Base Bean defintions for all the DAO which inject the appropriate datasource -->

	<bean id="loginDao" class="accountpro.dao.impl.LoginDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerDao" class="accountpro.dao.impl.CustomerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<bean id="policyDao" class="accountpro.dao.impl.PolicyDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="balanceDao" class="accountpro.dao.impl.BalanceDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="paymentDao" class="accountpro.dao.impl.PaymentDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	

<!-- 	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
 			<list>
				<value>accountpro.domain.User</value>
			</list>
 		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>
 -->			 
<!-- 	<bean id="myUserDAO" class="com.vaannila.dao.UserDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory"/>
	</bean>
 -->	
<!-- 	<bean name="/user/*.htm" class="com.vaannila.web.UserController" >
		<property name="userDAO" ref="myUserDAO" />
	</bean>		 
 -->
 
 </beans>
