<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- the DataSource (parameterized for configuration via a PropertyPlaceHolderConfigurer) -->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
<!--  	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/AccountPro"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
 -->
 	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!-- <property name="url" value="jdbc:mysql://accountpro.cqoauszdwpu6.us-east-1.rds.amazonaws.com:3306/accountpro"/> -->
       <property name="url" value="jdbc:mysql://ec2-184-73-20-183.compute-1.amazonaws.com:3306/accountpro"/>
        <!-- <property name="url" value="jdbc:mysql://localhost:3306/AccountPro"/> -->
        <property name="username" value="shukla81"/>
        <property name="password" value="shanker11"/>
 </bean>

	<!-- Base Bean defintions for all the DAO which inject the appropriate datasource -->

	<bean id="loginDao" class="accountpro.dao.impl.LoginDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerDao" class="accountpro.dao.impl.CustomerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<bean id="policyDao" class="accountpro.dao.impl.PolicyDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>

<!-- 	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
 			<list>
				<value>accountpro.domain.User</value>
			</list>
 		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>
 -->			 
<!-- 	<bean id="myUserDAO" class="com.vaannila.dao.UserDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory"/>
	</bean>
 -->	
<!-- 	<bean name="/user/*.htm" class="com.vaannila.web.UserController" >
		<property name="userDAO" ref="myUserDAO" />
	</bean>		 
 -->
 
 </beans>
